html, body {
    background-color: #212121a6;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif!important;
    overflow-y: auto;
    overflow-x: hidden;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif !important;
}

.movie-list{
    width:70%;
    margin: auto;
}

@media screen and (max-width: 1024px) {
    .movie-list{
        width:100%;
        margin: auto;
    }
}

md-card{
    width:23%;
    max-width: 23%;
}

md-card md-card-header {
    padding-bottom: 16px;
}

.md-title{
    font-weight: 700!important;
}

.rating{
    width: 40px;
    height: 40px;
    border-radius: 90px;
    background-color: #c1b51f;
    text-align: center;
    display: table-cell;
    overflow: hidden;
    vertical-align:middle;
    font-weight: 700;
}

md-content{
    background-color: #0000
}

.content {
    margin: 20px;
    height: 100%
}

md-input-container .md-errors-spacer {
    min-width: 0 !important;
    min-height: 0 !important;
}

md-input-container label {
    color: white;
}
  
md-input-container.md-input-focused label {
    color: white;
}

.details-title{
    font-weight: 700;
    line-height: 2.2em;
}
